@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('fonts/inter_variable.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('fonts/inter_variable.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('fonts/inter_variable.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('fonts/inter_variable.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('fonts/material_icons_outlined.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.material-symbols-outlined {
    font-size: inherit;
    font-family: 'Material Symbols Outlined';
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

nav a {
    flex: 1;
    text-align: center;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    padding: 20px 0;
}

/*@media (min-width: 1024px) {
    nav a:hover {
        background-color: #f5f5f5;
    }
}*/

.current {
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.containerchild {
    max-width: 1024px;
}

.box {
    margin-top: 20px;
}

h1 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1.2px;
    margin: 0;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 0 0;
}

a {
    color: #000;
    text-decoration: none;
}