/* FONT FAMILIES */
/** Regular */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

/** Italic */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}

/** Symbols */
@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('fonts/material_icons_outlined.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.material-symbols-outlined {
    font-size: inherit;
    font-family: 'Material Symbols Outlined', sans-serif;
}

/* GENERAL */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

nav a {
    flex: auto;
    text-align: center;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    padding: 20px 0;
}

.current {
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.containerchild {
    max-width: 984px;
}

.box {
    margin-top: 20px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0 0 0;
}

a {
    color: #000;
    text-decoration: none;
}

.portrait {
    width: 80px;
    height: 80px;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 26px;
}

.portrait img {
    width: inherit;
    height: inherit;
    border-radius: 999px;
}

/* IMAGE GRID */
.widthCalculated {
    width: calc(100vw - 40px);
}

.imgdetail p {
    font-size: 12px;
    margin: 10px 0 0 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#imgcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* MOBILE */
    gap: 20px;
}

@media (min-width: 640px) {
    #imgcontainer {
        grid-template-columns: repeat(3, 1fr); /* SMALL TABLETS */
    }
}

@media (min-width: 1024px) {
    #imgcontainer {
        grid-template-columns: repeat(4, 1fr); /* DESKTOP */
    }
}

.img img { /* BEST WIDTH: 570 (iPhone) - 615 (Samsung) */
    width: 100%;
    height: auto;
    display: block;
}

.imgdetail {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    text-align: center;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #eee;
}